@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
 var model = new List<SearchHistory>
    ();
    }

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Search History</h2>
            <ul class="list-group">
                @foreach (var item in model)
                {
                    <li class="list-group-item">@item.Keyword</li>
                }
            </ul>
            <button class="btn btn-link" onclick="clearSearchHistory()">Clear Search History</button>
        </div>
    </div>
</div>

<script>
    function search(searchTerm) {
        // Call the search function with the selected search term
        $.ajax({
            type: "GET",
            url: "/SearchHistory/Search",
            data: { searchTerm: searchTerm },
            success: function (data) {
                // Update the search results list
                $("#search-results").html(data);
            }
        });
    }

    function clearSearchHistory() {
        // Clear the search history list
        $.ajax({
            type: "POST",
            url: "/SearchHistory/ClearSearchHistory",
            success: function () {
                $("#list-group").html("");
            }
        });
    }
</script>